@model IEnumerable<Game>

<h2>Games</h2>

<div style="display: block">
    <a href="/Games/AddGame/">Create a New Game</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Release Year</th>
        <th>Platform</th>
        <th>Image</th>
    </tr>

    @foreach (var game in @Model)
    {
        <tr>
            <td><a href=/Games/ViewGame/@game.Id>@game.Id</a></td>
            <td>@game.Title</td>
            <td>@game.Genre</td>
            <td>@game.Release_Year</td>
            <td>@game.Platform</td>
            <td><img id="indexImg" src="@game.ImageURL" /></td>
        </tr>
    }

</table>